[submodule "zsh/plugins/zsh-syntax-highlighting"]
	path = zsh/plugins/zsh-syntax-highlighting
	url = https://github.com/zsh-users/zsh-syntax-highlighting.git
[submodule "zsh/plugins/zsh-autosuggestions"]
	path = zsh/plugins/zsh-autosuggestions
	url = https://github.com/zsh-users/zsh-autosuggestions.git
[submodule "zsh/plugins/oh-my-zsh"]
	path = zsh/plugins/oh-my-zsh
	url = https://github.com/robbyrussell/oh-my-zsh.git
[submodule "dotvim/bundle/delimitMate"]
	path = dotvim/bundle/delimitMate
	url = https://github.com/Raimondi/delimitMate.git
[submodule "dotvim/bundle/nerdtree"]
	path = dotvim/bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree
[submodule "dotvim/bundle/vim-node"]
	path = dotvim/bundle/vim-node
	url = https://github.com/moll/vim-node.git
[submodule "dotvim/bundle/tlib_vim"]
	path = dotvim/bundle/tlib_vim
	url = https://github.com/tomtom/tlib_vim.git
[submodule "dotvim/bundle/vim-addon-mw-utils"]
	path = dotvim/bundle/vim-addon-mw-utils
	url = https://github.com/MarcWeber/vim-addon-mw-utils.git
[submodule "dotvim/bundle/vim-powerline"]
	path = dotvim/bundle/vim-powerline
	url = https://github.com/Lokaltog/vim-powerline.git
[submodule "dotvim/bundle/vim-snippets"]
	path = dotvim/bundle/vim-snippets
	url = https://github.com/honza/vim-snippets.git
[submodule "dotvim/bundle/ultisnips"]
	path = dotvim/bundle/ultisnips
	url = https://github.com/SirVer/ultisnips.git
[submodule "dotvim/bundle/YouCompleteMe"]
	path = dotvim/bundle/YouCompleteMe
	url = https://github.com/Valloric/YouCompleteMe.git
[submodule "dotvim/bundle/vim-latex"]
	path = dotvim/bundle/vim-latex
	url = https://github.com/vim-latex/vim-latex.git
[submodule "dotvim/bundle/supertab"]
	path = dotvim/bundle/supertab
	url = https://github.com/ervandew/supertab.git
[submodule "dotvim/bundle/minibufexpl.vim"]
	path = dotvim/bundle/minibufexpl.vim
	url = https://github.com/fholgado/minibufexpl.vim
[submodule "dotvim/bundle/tagbar"]
	path = dotvim/bundle/tagbar
	url = https://github.com/majutsushi/tagbar
[submodule "dotvim/bundle/vim-sensible"]
	path = dotvim/bundle/vim-sensible
	url = https://github.com/tpope/vim-sensible
[submodule "dotvim/bundle/syntastic"]
	path = dotvim/bundle/syntastic
	url = https://github.com/scrooloose/syntastic
[submodule "dotvim/bundle/vim-polyglot"]
	path = dotvim/bundle/vim-polyglot
	url = https://github.com/sheerun/vim-polyglot
[submodule "dotvim/bundle/vim-colors-solarized"]
	path = dotvim/bundle/vim-colors-solarized
	url = https://github.com/altercation/vim-colors-solarized.git
[submodule "dotvim/bundle/tern_for_vim"]
	path = dotvim/bundle/tern_for_vim
	url = https://github.com/ternjs/tern_for_vim
[submodule "nvim/bundle/rust.vim"]
	path = nvim/bundle/rust.vim
	url = https://github.com/rust-lang/rust.vim
[submodule "nvim/bundle/vim-racer"]
	path = nvim/bundle/vim-racer
	url = https://github.com/racer-rust/vim-racer.git
