[submodule "zsh/plugins/zsh-syntax-highlighting"]
	path = zsh/plugins/zsh-syntax-highlighting
	url = https://github.com/zsh-users/zsh-syntax-highlighting.git
[submodule "zsh/plugins/zsh-autosuggestions"]
	path = zsh/plugins/zsh-autosuggestions
	url = https://github.com/zsh-users/zsh-autosuggestions.git
[submodule "zsh/plugins/oh-my-zsh"]
	path = zsh/plugins/oh-my-zsh
	url = https://github.com/robbyrussell/oh-my-zsh.git
[submodule "dotvim/bundle/delimitMate"]
	path = dotvim/bundle/delimitMate
	url = https://github.com/Raimondi/delimitMate.git
[submodule "dotvim/bundle/nerdtree"]
	path = dotvim/bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree
[submodule "dotvim/bundle/vim-node"]
	path = dotvim/bundle/vim-node
	url = https://github.com/moll/vim-node.git
[submodule "dotvim/bundle/tlib_vim"]
	path = dotvim/bundle/tlib_vim
	url = https://github.com/tomtom/tlib_vim.git
[submodule "dotvim/bundle/vim-addon-mw-utils"]
	path = dotvim/bundle/vim-addon-mw-utils
	url = https://github.com/MarcWeber/vim-addon-mw-utils.git
[submodule "dotvim/bundle/vim-powerline"]
	path = dotvim/bundle/vim-powerline
	url = https://github.com/Lokaltog/vim-powerline.git
[submodule "dotvim/bundle/vim-snippets"]
	path = dotvim/bundle/vim-snippets
	url = https://github.com/honza/vim-snippets.git
[submodule "dotvim/bundle/vimtex"]
	path = dotvim/bundle/vimtex
	url = https://github.com/lervag/vimtex.git
[submodule "dotvim/bundle/ultisnips"]
	path = dotvim/bundle/ultisnips
	url = https://github.com/SirVer/ultisnips.git
[submodule "dotvim/bundle/YouCompleteMe"]
	path = dotvim/bundle/YouCompleteMe
	url = https://github.com/Valloric/YouCompleteMe.git
[submodule "dotvim/bundle/vim-latex"]
	path = dotvim/bundle/vim-latex
	url = https://github.com/vim-latex/vim-latex.git
